
#date-modal, #time-modal{
    --height: auto !important;
}


#date-modal{
    --height:auto !important;
}




html.md #time-picker{
  margin: 25px 0px;
}



#new-travel-modal{
    --height: auto !important;
}

ion-input{
    border-bottom: 1px solid;
}



