.travelDetailsBox{

  display: flex;
  flex-direction: column;

}

.travelDetailsHeader{

  display: flex;
  flex-direction: row;

}

.ion-padding{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #44444474;
}

.flex-middle{
  display: flex;
  align-items: center;
}

.card-margin{
  margin: 0px 10px 10px !important;
}

ion-popover {
  --background: var(--ion-color-light);

  --backdrop-opacity: 0.45;
  backdrop-filter: blur(3px);
}

ion-popover::part(arrow)::after{
  background-color: var(--ion-color-light);

}
ion-popover::part(content) {
  margin: 0px;
  width: 225px;
}
ion-button{
  padding: 0px 0px;
  margin:0px;
  width: 100%;
}

.popover-button-fake {
  background-color: transparent !important;
  padding: 13px 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 3.1em;
  font-size: min(1.0625rem, 51px);
}

.popover-button-fake > ion-icon {
  font-size: min(1.3rem, 61px);
  margin-inline-start: 0.3em;
  margin-inline-end: 0.3em;

}

.padding-small{
  padding: 12px;
}

.small-chip{
  font-size: smaller;
  padding: 5px;
  line-height: 0;
  min-height: 16px; 
}