:root{
  --ion-border-radius: 14px;
  --ion-box-shadow: 1px 1px 2px rgba(var(--ion-color-medium-rgb), 0.306);
  --ion-box-shadow-inset: 0px 0px 6px rgba(var(--ion-color-medium-rgb), 0.505) inset;
}
ion-popover {
  --background: var(--ion-card-background) ;

  --backdrop-opacity: 0.45;
  backdrop-filter: blur(3px);
}

ion-popover::part(arrow)::after{
  background-color: var(--ion-card-background);

}
ion-popover::part(content) {
  margin: 0px;
  width: 225px;
}

@media (prefers-color-scheme: light) {
  ion-popover {
    --background: white;
  }
  ion-popover::part(arrow)::after {
    background-color: white;
  }
}

ion-card{
  box-shadow: var(--ion-box-shadow);
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.222); 
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-bottom, .textarea-bottom{
  border: none !important;
  position: absolute;
  right: 0px;
  bottom: 6px;
}




/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
.bordered{
  border-radius: var(--ion-border-radius);
  border: 1px solid var(--ion-color-primary);
  --padding-end: 10px;
  --padding-start: 10px;
  
}






/** Ionic CSS Variables **/
:root {
  /** primary **/
	--ion-color-primary: #8EAB49;
	--ion-color-primary-rgb: 142,171,73;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #7d9640;
	--ion-color-primary-tint: #99b35b;

  /** secondary **/
	--ion-color-secondary: #c9d9a6;
	--ion-color-secondary-rgb: 201,217,166;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #b1bf92;
	--ion-color-secondary-tint: #ceddaf;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
	--ion-color-medium: #d0d0d0;
	--ion-color-medium-rgb: 208,208,208;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #b7b7b7;
	--ion-color-medium-tint: #d5d5d5;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #ececec;
  --ion-color-light-tint: #fbfffa;
}

.ios body {
  	--ion-background-color: #ffffff;
	--ion-background-color-rgb: 255,255,255;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

  --ion-background-color-step-50: #f2f2f2;
	--ion-background-color-step-100: #e6e6e6;
	--ion-background-color-step-150: #d9d9d9;
	--ion-background-color-step-200: #cccccc;
	--ion-background-color-step-250: #bfbfbf;
	--ion-background-color-step-300: #b3b3b3;
	--ion-background-color-step-350: #a6a6a6;
	--ion-background-color-step-400: #999999;
	--ion-background-color-step-450: #8c8c8c;
	--ion-background-color-step-500: #808080;
	--ion-background-color-step-550: #737373;
	--ion-background-color-step-600: #666666;
	--ion-background-color-step-650: #595959;
	--ion-background-color-step-700: #4d4d4d;
	--ion-background-color-step-750: #404040;
	--ion-background-color-step-800: #333333;
	--ion-background-color-step-850: #262626;
	--ion-background-color-step-900: #191919;
	--ion-background-color-step-950: #0d0d0d;

  --ion-card-background: transparent;
}


@media (prefers-color-scheme: dark) {
  /*
   * Custom Dark Colors with Brand Theme
   * -------------------------------------------
   */

  :root {


    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

	--ion-color-medium: #171717;
	--ion-color-medium-rgb: 23,23,23;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #141414;
	--ion-color-medium-tint: #2e2e2e;

	--ion-color-primary: #5f723c;
	--ion-color-primary-rgb: 95,114,60;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #546435;
	--ion-color-primary-tint: #6f8050;
  
    --ion-color-secondary: #2C2C2E;
    --ion-color-secondary-rgb: 44, 44, 46;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #262628;
    --ion-color-secondary-tint: #3d3d3f;

    --ion-color-light: #292924; /* Nested element color */
    --ion-color-light-rgb: 41, 41, 36;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #242420;
    --ion-color-light-tint: #3e3e3a;
  }


/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #121212; /* darker background */
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #1a1a1a;
  --ion-color-step-100: #2e2e30;
  --ion-color-step-150: #3a3a3c;
  --ion-color-step-200: #454547;
  --ion-color-step-250: #515153;
  --ion-color-step-300: #5d5d5e;
  --ion-color-step-350: #68686a;
  --ion-color-step-400: #747475;
  --ion-color-step-450: #7f7f81;
  --ion-color-step-500: #8b8b8c;
  --ion-color-step-550: #979798;
  --ion-color-step-600: #a2a2a3;
  --ion-color-step-650: #aeaeaf;
  --ion-color-step-700: #b9b9ba;
  --ion-color-step-750: #c5c5c6;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdd;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f4;

  --ion-card-background: #1a1c1a; /* darker than #292924 */
}

}