:root{
  --ion-border-radius: 10px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-bottom, .textarea-bottom{
  border: none !important;
  position: absolute;
  right: 0px;
  bottom: 6px;
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
.bordered{
  border-radius: var(--ion-border-radius);
  border: 1px solid var(--ion-color-primary);
  --padding-end: 10px;
  --padding-start: 10px;
  
}



/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}


@media (prefers-color-scheme: dark) {
  /*
   * Custom Dark Colors with Brand Theme
   * -------------------------------------------
   */

  body {


    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-primary: #5F6A46;
    --ion-color-primary-rgb: 95, 106, 70;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #535d3d;
    --ion-color-primary-tint: #6f7b57;

    --ion-color-secondary: #2C2C2E;
    --ion-color-secondary-rgb: 44, 44, 46;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #262628;
    --ion-color-secondary-tint: #3d3d3f;

    --ion-color-light: #292924; /* Nested element color */
    --ion-color-light-rgb: 41, 41, 36;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #242420;
    --ion-color-light-tint: #3e3e3a;
  }


/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #121212; /* darker background */
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #1a1a1a;
  --ion-color-step-100: #2e2e30;
  --ion-color-step-150: #3a3a3c;
  --ion-color-step-200: #454547;
  --ion-color-step-250: #515153;
  --ion-color-step-300: #5d5d5e;
  --ion-color-step-350: #68686a;
  --ion-color-step-400: #747475;
  --ion-color-step-450: #7f7f81;
  --ion-color-step-500: #8b8b8c;
  --ion-color-step-550: #979798;
  --ion-color-step-600: #a2a2a3;
  --ion-color-step-650: #aeaeaf;
  --ion-color-step-700: #b9b9ba;
  --ion-color-step-750: #c5c5c6;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdd;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f4;

  --ion-item-background: #11110c;

  --ion-card-background: #20201C; /* darker than #292924 */
}



.baggage-card{

box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}


/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body {
  --ion-background-color: #11110c;
  --ion-background-color-rgb: 17, 17, 12;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #181818;

  --ion-color-step-50: #1d1d18;
  --ion-color-step-100: #292924;
  --ion-color-step-150: #353530;
  --ion-color-step-200: #41413d;
  --ion-color-step-250: #4d4d49;
  --ion-color-step-300: #585855;
  --ion-color-step-350: #646461;
  --ion-color-step-400: #70706d;
  --ion-color-step-450: #7c7c79;
  --ion-color-step-500: #888886;
  --ion-color-step-550: #949492;
  --ion-color-step-600: #a0a09e;
  --ion-color-step-650: #acacaa;
  --ion-color-step-700: #b8b8b6;
  --ion-color-step-750: #c4c4c2;
  --ion-color-step-800: #cfcfce;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #11110c;

  --ion-toolbar-background: #121212;

  --ion-tab-bar-background: #121212;

  --ion-card-background: #111111;

}
}




