.travelDetailsBox{

  display: flex;
  flex-direction: column;

}

.travelDetailsHeader{

  display: flex;
  flex-direction: row;

}

.ion-padding{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #44444474;
}