.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sizing-fix {

  width: 100%;
  aspect-ratio: 3/4;
  height: auto;
}
ion-img{
      position: relative;
    overflow: hidden;
    
    height: 100%;
    width: min-content;
    min-width: min-content;
    aspect-ratio: 3/4;
    
    object-fit: cover;
}