.floating-tabs {
    --background: var(--ion-card-background);
    border-radius: 14px;
    margin: 0px 8px calc(4px + var(--ion-safe-area-bottom));
    padding: 6px 0px;
}
.glow-border{
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(104, 131, 52, 0.122);
    border-bottom: 1px solid rgba(33, 36, 27, 0.35);
    box-shadow: 0px 0px 4px #5f6a4615;
}

ion-tab-button{
    border-radius: 14px;

}
