.number-border {
    border: 1px solid var(--ion-color-primary);
    border-radius: 14px;

}
.number-button {
    color: white;
    font-size: large;
}

.border-right-flat{
    border: none;
    border-right: 1px solid var(--ion-color-primary);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}